.advertisement_section {
    position: relative;
}

@media only screen and (min-width: 576px) {
  .advertisement_section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .advertisement_section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.advertisement_section_container{
    width: 100%;
    padding-right: calc(15px);
    padding-left: calc(15px);
    margin-right: auto;
    margin-left: auto;
}
.advertisement_section_row{
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-15px);
    margin-left: calc(-15px);
    margin-top: -30px;
}
.advertisement_section_link{
    display: block;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
}
.advertisement_section_col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: calc(15px);
    padding-left: calc(15px);
}
.advert_figure{
    display: block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
}
.advert_img{
    /* position: absolute; */
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    /* height: 0px; */
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    filter: none;
    background-size: cover;
    background-image: none;
    background-position: 0% 0%;
}
.advert_info_left{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 40px;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.advert_info_right{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 40px;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.advert_title{
    align-self: center;
}
.advert_title_text{
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 16px;
    color: rgb(33, 33, 33);
    font-weight: 600;
}
.advert_desc{
    margin-bottom: 0px;
    color: rgb(71, 71, 71);
    font-family: "Open Sans";
}